    {layout name="common/layout" /}
    <style>
    .c-red {
        color: #D21F20;
    }
     
</style>
    <link rel="stylesheet" href="__ADDON__/css/about.css?v={cms:config name='site.version'/}">
        <div class="g-navs">
            <ul>
                {cms:channellist id="channel" typeid="72" orderway="asc" ordery="weigh" type="son" condition="77<>id"}
                {if condition="$__CHANNEL__['id'] eq 72"}
                      <li class="g-nav "><a class="{if condition="$key==0"}c-red{/if}"href="{$channel.url}">{$channel.name}</a></li>
                {else/}
                <li class="g-nav "><a class="{if condition="$__CHANNEL__.id eq $channel.id "}c-red{/if}"href="{$channel.url}">{$channel.name}</a></li>
                {/if}
                {/cms:channellist}
                
            </ul>
        </div>
        <!-- 长财简介 -->
        <div class="guanyu nav-item">
            <div class="box">
                <!-- 关于我们左边 -->
                <div class="box-left">
                    <h2>长财咨询</h2>
                    <div class="heng1"></div>
                    <p class="cont">长财咨询的业务遍及全国，截止2018年11月已设立分子公司50家，员工1000人以上，并成立华北、华东、华中、华南、东北、西北、成渝、山东、东南、西南10大区域技术咨询中心，可为各类客户提供各种财务、激励、商业运作的企业实战经验、工具、案例、技能辅导，帮助企业实现复制，打造赚钱到值钱的过程！</p>
                     <div class="get-more1"></div> 
                    <ul>
                        <li><p class="nums">100+</p><p class="txt">专家老师</p></li>
                        <li><p class="nums">10000+</p><p class="txt">服务客户数量</p></li>
                        <li><p class="nums">1000+</p><p class="txt">员工</p></li>
                        <li><p class="nums">60+</p><p class="txt">分公司</p></li>
                    </ul>
                </div>
                <!-- 视频部分 -->
                <div class="box-right" id="video"></div>
            </div>
        </div>
         <script src="__CDN__/assets/addons/ckplayer/ckplayer/ckplayer.min.js"></script>
        <script>
  // 点击大分类进行切换数据
            $('.g-nav').click(function () {
                console.log(1111)
                let index = $(this).index();
                
                $(this).addClass('c-red').siblings('.g-nav').removeClass('c-red');
                $('.nav-item').eq(index).show().siblings('.nav-item').hide();
                if (index == 2) { //当前点击的索引为2显示地图样式
                    initMap();
                }
            })
             // 设置初始化的地图方法，当点击分子公司的时候再去加载
           {cms:blocklist id="video"  name="video"}
    var videocontent ='{:cdnurl($video.url)}' 
    var videoimg ='{$video.image}' 
    {/cms:blocklist}
    //视频播放
   var videoObject = {
        container: '#video',//“#”代表容器的ID，“.”或“”代表容器的class
        variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
        flashplayer:false,//如果强制使用flashplayer则设置成true
        video:videocontent,//视频地址
        poster: videoimg, //封面图片

    };
    var player=new ckplayer(videoObject);
</script>
