    {layout name="common/layout" /}
    <link rel="stylesheet" href="__ADDON__/css/about.css?v={cms:config name='site.version'/}">
       {include file="common/guanyu_list"}
   
        <!-- 长财文化 -->
        <div class="wenhua  nav-item">
            <img src="__ADDON__/src/image/wenhua.png" alt="">
            <img style="margin-top: 100px;margin-bottom: 100px" src="__ADDON__/src/image/wenhua2.png" alt="">
            <p class="wenhua-f">长财咨询的业务遍及全国，截止2018年11月已设立分子公司50家，员工1000人以上，并成立华北、华东、华中、华南、东北、西北、成渝、山东、东南、西南10大区域技术咨询中心，可为各类客户提供各种财务、激励、商业运作的企业实战经验、工具、案例、技能辅导，帮助企业实现复制，打造赚钱到值钱的过程！</p>
        </div>

        <script>
  // 点击大分类进行切换数据
            $('.g-nav').click(function () {
                console.log(1111)
                let index = $(this).index();
                
                $(this).addClass('c-red').siblings('.g-nav').removeClass('c-red');
                $('.nav-item').eq(index).show().siblings('.nav-item').hide();
                if (index == 2) { //当前点击的索引为2显示地图样式
                    initMap();
                }
            })
             // 设置初始化的地图方法，当点击分子公司的时候再去加载
            function initMap() {
                var optionMap = {
                    title : {
                        text: '',
                        subtext: '',
                        left: 'center',
                        top: 'top',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    
                    tooltip: {},
                    
                    backgroundColor: {
                        type: 'linear',
                        x: 0,
                        y: 0,
                        x2: 1,
                        y2: 1,
                        colorStops: [{
                            offset: 0, color: '#fff' // 0% 处的颜色
                        }, {
                            offset: 1, color: '#fff' // 100% 处的颜色
                        }],
                        globalCoord: false // 缺省为 false
                    },
                    series: [
                        {
                            type: 'map',
                            map: 'china',
                            geoIndex: 2,
                            aspectScale: 0.75, //长宽比
                            showLegendSymbol: true, // 存在legend时显示
                            label: {
                                normal: {
                                    show: false,
                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        color: '#fff'
                                    }
                                }
                            },
                            roam: false,
                            itemStyle: {
                                normal: {
                                    areaColor: '#D9D9D9',
                                    borderColor: '#CCC6C2',
                                    borderWidth: 1
                                },
                                emphasis: {
                                    areaColor: '#D21F20'
                                }
                            },
                            data:[
                                {name: '北京',selected:true }
                            ]
                        },
                    ]
                };
                //初始化echarts实例
                var myChart = echarts.init(document.getElementById('china-main'));

                //使用制定的配置项和数据显示图表
                myChart.setOption(optionMap);
                // 点击地图切换右边分公司数据
                myChart.on('click', function(params){
                    console.log(params);//此处写点击事件内容
                    let name = params.name;
                    this.setOption({
                        series:[{data:[{name:name,selected:true}]}]
                    })
                    // 未完待续
                })
            }
</script>
