* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
li {
    list-style: none;
}
/* 控制隐藏 */
.hide{
    display: none
}
/* 整体红色样式 */
.c-red {
    color: #D21F20;
}
.null-top1 {
    width: 100%;
    height: 110px;
}
.null-top2 {
    width: 100%;
    height: 80px;
}
/* 共用底部样式 */

/* 公用底部样式结束 */

.com-bottom{
width:100%;
background: #333333;
font-size: 14px;
}
.com-bottom .bot-copy {
width: 100%;
border-top: 1px solid #404040;
height: 60px;
line-height: 60px;
text-align: center;
color: #666666;
}
.com-bottom .bot-box {
width: 1100px;
height: 306px;
margin: 0 auto; 
display: flex;
position: relative;
}
.com-bottom .bot-box ul {
/* flex:1; */
padding-right: 100px;
box-sizing: border-box;
padding: 50px 0 50px 0;
}
.com-bottom .bot-box ul .title{
color: #fff;
font-weight: 500;
font-size: 16px;
margin-bottom: 30px;
}
.com-bottom .bot-box ul .detail-name {
margin-bottom: 20px;
/* display: inline-block; */
margin-right: 50px;
line-height: 20px;
min-width:56px;
}
.com-bottom .bot-box ul .pro-name {
min-width:90px;
}
.com-bottom .bot-box ul .detail-name a {
color: #B3B3B3;
font-size: 14px;
}
.com-bottom .bot-box ul a .bot-weibo {
display: block;
width: 24px;
height: 24px;
/* margin-top: -10px; */
}
.com-bottom .bot-box .bot-weixin {
position: absolute;
width: 100px;
height: 100%;
display: flex;
align-items: center;
/*padding-top: 50px;*/
justify-content: center;
top: -40px;
right: 0;
flex-direction: column;
}
.com-bottom .bot-box .bot-weixin span {
margin-top: 10px;
color: #B3B3B3;
font-size: 14px;
}
.com-bottom .bot-box .bot-weixin img {
width: 100%;
height: 100px;
display: block;
}
/* 顶部导航样式开始 */
   .com-top {
        width: 100%;
        background: #fff;
        /* position: fixed;
        top: 0;
        left: 0; */
        /* z-index: 10; */
    }
    .t-navs {
        width: 100%;
        height: 60px;
        display: flex;
        box-shadow: 0 2px 4px rgba(0,0,0,.12);
    }
    .t-navs>a {
        display: flex;
        height: 100%;
        align-items: center;
        margin-left: 50px;
        width: 185px;
    }
    .t-navs>a img{
        width: 185px;
        height: 39px;
    }
    .t-navs .navs-con {
        margin-right: 45px;
        height: 100%;
        margin-left: auto;
        display: flex;
    }
    .t-navs .navs-con li{
        list-style: none;
        line-height: 60px;
        font-size: 14px;
        width: 100px;
        text-align: center;
        position: relative;
        /* margin-left: 10px; */
        /* font-weight: bold; */ 
    }
    .t-navs .navs-con li:hover a {
        color: #D21F20;
    }
    .t-navs .navs-con .unders::after{
        content: "";
        width: 100%;
        height: 2px;
        background: #D21F20;
        position: absolute;
        bottom: 0;
        left: 0;
        /* transition: all .3s; */
    }
    /* .t-navs .navs-con li:after{
        content: "";
        width: 0;
        height: 2px;
        background: #D21F20;
        position: absolute;
        bottom: 0;
        left: 50%;
        transition: all .3s;
    }
    .t-navs .navs-con li:hover:after{
        left: 0%;
        width: 100%;
    } */
    .t-navs .navs-con .phones {
        height: 100%;
        line-height: 60px;
        align-items: center;
        display: flex;
        margin-left: 45px;
    }
    .t-navs .navs-con .phones img{
        margin-right: 8px;
        width: 20px;
        height: 20px;
    }
/* 顶部导航样式结束 */

/* 回到顶部按钮 */
.back-top{
    width: 44px;
    height: 44px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
}
.back-top:hover{
    cursor: pointer;
}
/* 面包屑导航样式 */
.crumbs {
width: 1100px;
margin: 0 auto;
height:20px;
font-size:14px;
line-height:20px;
color: #666666;
text-align:left;
margin-top:30px;
margin-bottom: 20px;
}
.crumbs span:hover {
cursor: pointer;
}

.weibo-weibo {
    display: flex;
    color: #B3B3B3;
    font-size: 14px;
}
.weibo-weibo img {
    margin-left: 5px; 
}
.com-bottom .bot-box .ma3 {
    /* right: 0; */
    margin-right: 0;
}
.com-bottom .bot-box .ma2 {
    /* right: 125; */
    margin-right: 125px;
}
.com-bottom .bot-box .ma1 {
    /* right: 250; */
    margin-right: 250px;
}